@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@mixin setFontFamily($fontFamily) {
  @if ($fontFamily == "poppins") {
    font-family: "Poppins", sans-serif;
  } @else {
    font-family: "Playfair Display", serif;
  }
}

@mixin absoluteAlignCenter($direction) {
  @if ($direction == "top") {
    top: 50%;
    transform: translateY(-50%);
  } @else {
    left: 50%;
    transform: translateX(-50%);
  }
}

:root {
  --green-color: #3e8847;
  --dark-green-color: #4a4e1c;
  --light-green-color: #3e8646;
  --very-light-green-color: #92b896;
  --black-color: #09270d;
  --dark-grey-color: #7d807e;
  --grey-color: #727272;
  --light-grey-color: #c0c0c0;
  --white-color: #fff;
  --yellow-color: #f5c771;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black-color);
  font-family: inherit;
  //   transform-style: preserve-3d;
}

body {
  @include setFontFamily("poppins");
}

.navbar {
  a.navbar-brand {
    @include setFontFamily("playfair");

    span {
      color: var(--green-color);
    }
  }

  form {
    height: 2rem;
    max-width: 12rem;

    input {
      border-radius: 3rem;
      font-size: 0.7rem;

      &::placeholder {
        color: var(--light-grey-color);
      }
    }

    button {
      right: 0;
      @include absoluteAlignCenter("top");
    }
  }

  .nav-icon-bag {
    span {
      height: 65%;
      aspect-ratio: 1/1;
      background: var(--green-color);
      color: var(--white-color);
      top: -20%;
      right: -30%;
      font-size: 0.6rem;
    }
  }
}

#home {
  height: 80vh;

  .home-carousel-container {
    height: 60%;

    .home-carousel-item {
      top: 50%;
      transition: all 0.7s ease;

      .home-carousel-body {
        border-radius: 1rem;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }

        span {
          font-size: 0.6rem;
          color: var(--dark-grey-color);
          bottom: 0.2rem;
          right: 0.6rem;
        }
      }
    }
  }

  .home-texts-container {
    bottom: 0;
    @include absoluteAlignCenter("left");
    height: 40%;

    .love-nature {
      &::before {
        display: inline-block;
        content: "";
        height: 0.1rem;
        width: 2.5rem;
        margin-right: 0.5rem;
      }

      img {
        height: 3rem;
        top: -2rem;
        left: 1.2rem;
      }
    }

    .home-main-heading {
      font-size: 1.8rem;
      max-width: 15rem;
      color: var(--green-color);
      @include setFontFamily("playfair");
    }

    .buttons-container {
      button {
        font-size: 0.7rem;
        border-radius: 5rem;
        border: 1px solid var(--black-color);
        background: transparent;

        &:hover {
          background: var(--black-color);
          color: var(--white-color);
        }
      }
    }

    .social-navigation-container {
      height: 1.3rem;

      .social-icons-container {
        img {
          max-height: 1.1rem;
        }
      }

      .carausel-navigation-container {
        width: 50%;

        button {
          border-radius: 50%;
          aspect-ratio: 1/1;
          box-shadow: 0px 3px 13px rgba($color: #000000, $alpha: 0.12);

          &:hover {
            cursor: pointer;
          }

          span {
            border: 5.5px solid var(--green-color);
            border-top-color: transparent;
            border-bottom-color: transparent;
          }

          &.btn-carousel-left span {
            border-left: none;
          }

          &.btn-carousel-right span {
            border-right: none;
          }
        }

        span {
          font-size: 0.8rem;
        }

        p.home-carousel-slider {
          height: 0.2rem;
          background: var(--very-light-green-color);
          transition: all 0.2s ease;

          span {
            flex: 1;
            transition: all 0.2s ease;
            border: 0;
            background: transparent;

            &:hover {
              background: #0002;
              cursor: pointer;
            }

            &.active {
              background: var(--light-green-color);
            }
          }
        }
      }
    }
  }
}

#collection {
  height: 70vh;

  h2 {
    @include setFontFamily("playfair");
  }

  .collection-carousel-container {
    .collection-carousel {
      .collection-carousel-item {
        width: 100%;
        transition: all 0.3s ease;

        .carousel-image-container {
          transition: all 0.2s ease;
          height: 90%;

          img:nth-child(2) {
            opacity: 0;
            transition: all 0.3s ease;
            height: 130% !important;
            translate: 5%;
          }

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          &:hover {
            transform: perspective(2500px) rotateX(25deg) !important;
            //   .carousel-image-container {
            img:nth-child(2) {
              opacity: 1;
              //   filter: grayscale(0.2);
              transform: translateY(-20%) rotateX(-25deg);
              backdrop-filter: blur(5px);
              // }
            }
            h4 {
              transform: translateY(-80%);
            }
          }
        }

        h4 {
          height: 10%;
          @include setFontFamily("playfair");
          font-size: 1.2rem;
          transition: all 0.3s ease;
          transform: translateZ(1rem);
        }
      }
    }

    .collection-carousel-buttons {
      height: 2rem;
      background: var(--white-color);

      button {
        border: 1px solid var(--black-color);
        aspect-ratio: 1/1 !important;

        &:hover {
          color: var(--yellow-color);
          border-color: var(--yellow-color);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #home {
    height: 70vh;

    .home-carousel-container {
      width: 65%;
      left: 35% !important;
      height: 100%;

      .home-carousel-item {
        width: 70% !important;
        aspect-ratio: 4/3;

        .home-carousel-body {
          height: 95% !important;
          img {
            width: unset !important;
          }
        }
        &.active {
          height: 50% !important;
          width: 68% !important;
          z-index: 1;
          .home-carousel-body {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .home-texts-container {
      z-index: 5;
      height: 100%;
      @include absoluteAlignCenter("left");

      .home-main-heading {
        max-width: 20rem;
        letter-spacing: 1px;
        font-size: 2.5rem;
      }

      .social-navigation-container {
        width: 70%;
        position: absolute;
        bottom: 0.5rem;
      }
    }
  }

  #collection {
    .collection-carousel-container {
      .collection-carousel {
        .collection-carousel-item {
          width: 50% !important;

          .carousel-image-container {
            height: 90%;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          h4 {
            height: 10%;
          }
        }
      }

      .collection-carousel-buttons {
        width: 2rem;
        height: 100%;

        button {
          width: 2rem !important;
          height: 2rem !important;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar {
    height: 4rem;

    .nav-icon {
      height: 55% !important;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  #home {
    height: 90vh;

    .home-carousel-container {
      width: 80%;
      left: 20% !important;
      height: 100%;

      .home-carousel-item.active {
        height: 70% !important;
      }
    }
  }

  #collection {
    .collection-carousel-container {
      .collection-carousel {
        .collection-carousel-item {
          width: 33.33% !important;
        }
      }
    }
  }
}
